{% extends 'layout.html' %}

{% block content %}

        <h1>{{game.name}}</h1>
        <p>Game State: <b>{{ game.state }}</b></p>
        <p>Started: {{ game.started }}</p>
        <p>Players:
        {% for player in game.players.all %}
            {{ player.name }}
        {% endfor %}</p>
        <p>Aantal spelers: {{ game.players.count }}</p>

<form action="{% url 'wakkerdam_join_game' %}?id={{game.id}}" method="POST">
	{{ form.as_p }}
	{% csrf_token %} {# this should be in every POST form for security reasons #}
	<input type="submit" value="join!" />
</form>


{% for player in game.players.all %}
      {% if player.pk == currentplayer.pk %}
        <p>You are playing as: {{ currentplayer }}</p>
<form action="{% url 'wakkerdam_leave_game' %}?id={{game.id}}" method="POST">
{% csrf_token %} {# this should be in every POST form for security reasons #}
<input type="submit" value="Leave!" />
</form>

{% endif %}
{% endfor %}



<form action="{% url 'wakkerdam_start_game' %}?id={{game.id}}" method="POST">
	{% csrf_token %} {# this should be in every POST form for security reasons #}
	<input type="submit" value="Start!" />
</form>






{% endblock content %}
