{% extends 'layout.html' %}

{% block content %}

        <h1>{{game.name}}</h1>
        <p>Game State: <b>{{ game.state }}</b></p>
        <p>Started: {{ game.started }}</p>
        <p>Players:
        {% for player in game.players.all %}
            {{ player.name }}
        {% endfor %}</p>
        <p>Aantal spelers: {{ game.players.count }}</p>

		{% if request.user.is_authenticated %}
		<form action="{% url 'wakkerdam_join_game' %}?id={{game.id}}" method="POST">
			{{ form.as_p }}
			{% csrf_token %} {# this should be in every POST form for security reasons #}
			<input type="submit" value="join!" />
		</form>
		{% else %}
			<p><a href="{% url 'wakkerdam_login' %}">Login</a> to join</p>
		{% endif %}

{% endblock content %}
